@import "../../saas/variables.scss";
@import "../../saas/media.scss";


.task-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media-query-mobile {
        flex-direction: column;
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin: $margin-m;

        @include media-query-mobile {
            margin: 0 0 $margin-s;
        }
    }

    &__mark {
        border: none;
        border-top: 5px dotted $color-grey;
        width: 30%;
    }
}