//colors

$color-grey: #f2f2f2;
$color-main: #522ee2;
$color-background: #522ee230;
$color-background-button: #522ee246;
$color-background-button-hover: #522ee2b1;
$color-input-hover: #2d00e3;
$color-input-labels: #2d00e3;
$color-text: #2600bb;

//padding

$padding-xs:0.5rem;
$padding-s: 0.7rem;
$padding-form: 1rem;
$padding-l: 2rem;
$padding-right: 1rem;


//margin
$margin-s: 1rem;
$margin-m: 2rem;
$margin-xs: 0.5rem;
$margin-l: 4rem;
$margin-xl: 5rem;





//radius

$radius-xs: 8px;

//fonts

$font-family: "Montserrat", sans-serif;

$line-height: 1.4;

$font-size-m: 16px;
$font-size-s: 14px;

$font-weight: 400;
$font-weight-strong: 600;